* {
  box-sizing: border-box;
}

body {
  background: #f5f1f1;
  line-height: 1.6;
}

h1 {
  margin-top: 0;
  padding-top: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
}

/* to remove default list styles, margin, and padding */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h5 {
  text-transform: uppercase;
  font-size: .7em;
  text-align: center;
}

h5, 
.main-nav {
  font-family: 'Raleway', sans-serif;
}

h4, 
p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.main-header {
  text-align: center;
}

.main-nav li {
  margin: 3px 8px;
}

.main-nav a {
  font-size: .7em;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  padding: 8px;
  background-color: white;
}

.main-nav a:hover {
  color: lightgrey;
}

.profile img {
  display: block;
  width: 60%;
  margin: 30px auto 15px auto;
}

.profile p {
  padding: 10px 20px;
  font-size: 0.9em;
  font-weight: 300;
  color: grey;
}

.col img {
  display: block;
  margin: 30px auto 0 auto;
  width: 90%;
}

.col h4 {
  font-weight: 400;
  margin-bottom: 0;
}

.col p {
  font-size: 0.8em;
  font-weight: 300;
  color: grey;
  padding: 0 15px
}

/* **********  container classes ********** */

.wrapper {
  background: white;
  padding-top: 15px;
  padding-bottom: 35px;
}

